<!-- 



 <footer class="footer">
    <div class="container">
        <div class="footer-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
            <a href="#">Support</a>
        </div>
        <div class="logoImg">
            <img src="../../assets/images/logooo.png" alt="Site Logo">
        </div>
        <div class="social-icons">
            <a><i class="fab fa-facebook-f"></i></a>
            <a><i class="fab fa-twitter"></i></a>
            <a><i class="fab fa-instagram"></i></a>
            <a><i class="fab fa-linkedin-in"></i></a>
            <a><i class="fab fa-pinterest"></i></a>
            <a><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</footer>

<div class="copyright">
    <p>© 2024 Shevy Kossovsky & Miri Krausz All rights reserved.</p>
</div> -->
<div class="footerDiv">
 
    <div >
      <ul class='servicesList'>
        <li class="nav-item mx-3">
            <a class="nav-link" href="/user/login">Login <span><i class="fas fa-sign-in-alt"></i></span></a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="/user/logout">Logout <span><i class="fas fa-sign-out-alt"></i></span></a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="/user/register">Register <span><i class="fas fa-user-plus"></i></span></a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="/recipe">All Recipes <span><i class="fas fa-utensils"></i></span></a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="/recipe/add">Add Recipe <span><i class="fas fa-plus-square"></i></span></a>
          </li>
          
      </ul>
    </div>
  
    <div class='socialMediaDiv'>
      <h3>available in:</h3>
      <a><i  class="fab fa-facebook-f"></i></a>
      <a><i class="fab fa-twitter"></i></a>
      <a><i class="fab fa-instagram"></i></a>
      <a><i class="fab fa-linkedin-in"></i></a>
      <a><i class="fab fa-pinterest"></i></a>
      <a><i class="fab fa-youtube"></i></a>
    </div>
  
    <div>
        <img src="../../../assets/images/logooo.png" />
      </div>
    
    <div class='newsletter'>
      <p class='addToNewsleeter'>join our newsletter:</p>
      <mat-form-field class="fieldFooter" appearance="fill">
        <mat-label>Enter your name</mat-label>
        <input matInput placeholder="Israel Israeli">
        <mat-icon matSuffix>account_circle</mat-icon>
    </mat-form-field>

    <mat-form-field class="fieldFooter" appearance="fill">
        <mat-label>Enter your email</mat-label>
        <input matInput formControlName="email">
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>
      <button mat-raised-button class="sendButton">
        send
        <mat-icon >send</mat-icon>
      </button>
    </div>
  </div>
  
  <div class="rights">
    © 2024 Shevy kossovsky & Miri Krausz All rights reserved
  </div>
  