.form{
    height: 900px;
    justify-content: center;


}
.example-container{
    display: flex;

}
.btnContainer{
    display: flex;
    width: 80%;
    justify-content: space-around;


}
.btn{
    width: 30%;
}