
.add-button {
    background-color: rgb(255, 230, 0);
    color: white;
    margin-top: 10px; 
    margin-bottom: 20px;
    margin-left: 5px;
  }
  
  .delete-button {
    color: rgb(255, 230, 0);
  }
  
  .add-button:hover{
    background-color: rgb(255 238 85);
  }
  