.password-hint {
  margin-top: 4px;
}

.valid {
  color: rgba(0, 0, 0, 0.438);
}

.invalid {
  color: red;
}

h1 {
  padding: 10px;
  border-radius: 10px;
  margin-top: 0;
}
.hide{
  display: none;  
}