li{
    font-size: 20px;
    
}
a{
    color: rgb(0, 0, 0);
}
.navbar{
  height: 150px;
    top: 0px;
    z-index: 999;
    width: 100%;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.489);
    align-items: center;


}
img{
    height:100px;width: 100px;
}
.navbar-nav{
    display: flex;
    align-items: center;

}

#logout{
    cursor: pointer;
  
}